{% extends 'layout.html' %}


{% block content %}
    <div class="luffy-container">
        {% for row in record_list %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="margin-bottom: 20px">
                        {{ row.note }}
                    </div>
                    <div>
                        <div style="display: inline-block;margin-right: 20px"><i class="fa fa-user-o" aria-hidden="true" style="margin-right: 5px"></i>{{ row.consultant.name }}</div>
                        <div style="display: inline-block;"><i class="fa fa-clock-o" aria-hidden="true"  style="margin-right: 5px"></i>{{ row.date }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}